[package]
name = "pinocchio"
description = "Create Solana programs with no dependencies attached"
version = "0.9.2"
edition = { workspace = true }
license = { workspace = true }
readme = "./README.md"
repository = { workspace = true }
rust-version = { workspace = true }

[lib]
crate-type = ["rlib"]

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = [
    'cfg(target_os, values("solana"))',
    'cfg(target_feature, values("static-syscalls"))',
] }

[features]
copy = ["solana-account-view/copy", "solana-address/copy"]
std = ["solana-address/std"]

[dependencies]
solana-account-view = { workspace = true }
solana-address = { workspace = true, features = ["syscalls"] }
solana-program-error = "3.0"

[dependencies]
solana-program-error = "3.0"

[dev-dependencies]
five8_const = { workspace = true }
