name: Main

on:
  push:
    branches: [main]
  pull_request:

env:
  CACHE: true

jobs:
  sanity:
    name: Process Workspace
    runs-on: ubuntu-latest
    outputs:
      members: ${{ steps.filter.outputs.members }}
    steps:
      - name: Git checkout
        uses: actions/checkout@v4

      - name: Setup Environment
        uses: ./.github/actions/setup
        with:
          cargo-cache-key: cargo-audit
          toolchain: lint
          components: audit, miri

      - name: cargo-audit
        run: just audit

      - name: cargo-miri
        run: just miri

      - name: Filter members
        id: filter
        shell: bash
        run: |
          MEMBERS_JSON=$(just members | jq -R -s -c 'split(" ") | map(select(length > 0))')
          echo "members=$MEMBERS_JSON" >> $GITHUB_OUTPUT

  spellcheck:
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Setup Environment
        uses: ./.github/actions/setup
        with:
          cargo-cache-key: cargo-spellcheck
          components: spellcheck

      - name: cargo-spellcheck
        run: just spellcheck

  process:
    name: Check
    needs: sanity
    runs-on: ubuntu-latest
    strategy:
      matrix:
        member: ${{ fromJson(needs.sanity.outputs.members) }}
    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Setup Environment
        uses: ./.github/actions/setup
        with:
          cargo-cache-key: cargo-${{ matrix.member }}
          toolchain: build, format, lint, test
          components: hack
          solana: true

      - name: fmt
        run: just format ${{ matrix.member }}

      - name: clippy
        run: just clippy ${{ matrix.member }}

      - name: cargo-doc
        run: just doc ${{ matrix.member }}

      - name: cargo-hack
        run: just hack ${{ matrix.member }}

      - name: build-sbf
        run: just build-sbf ${{ matrix.member }}

      - name: test
        run: just test ${{ matrix.member }}
